.logos {
  font-size: 12px;
  margin-top: 20px;
}
.sidebar {
  height: 100%;
  width: 7%;
  background-color: #383144;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar > div {
  color: rgb(101, 98, 98);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar > div:hover {
  color: white;
}
.imgdiv {
  margin-right: 27px;
  margin-top: 50px;
}
